## Script to pull census data.

This notebook includes a simple script that will pull the requested variables form the 5-year American Community Survey at either the census tract or congressional district level.  The user must request a census api key and enter it in the line that says "my_api_key".  The user should then put the variable names from the ACS5 in the indicated line, seperated by commas.  The user may optionally put names in the indicated line, also seperated by commas.  Both should be surrounded by quotes (single/double quotes are both fine).  Then run the cells of this notebook

This is just a simple application of the library here: https://github.com/datamade/census

If you are missing the required libraries, put these in a new cell and run it:

* !pip install census
* !pip install us
* !pip install tqdm

In [1]:
from census import Census
from us import states
import requests
import pandas as pd
from tqdm import tqdm_notebook
from IPython.display import clear_output

my_api_key = "b141795955348002155a81415a728a61faab9746"# Put your api key here
try:
    census_query_object = Census(my_api_key)
except:
    print("Did you enter an api key surrounded by quotes?")



variables_of_interest = ('NAME', 'B19013_001E', 'B19013B_001E')
custom_names = ('default', 'default', 'default')


def grab_by_tracts(variables_list, names=custom_names, file_name = "tracts_data.csv", save=True):
    """This gathers the requested variables from the 5-year American Community 
    Survey at the census tract level.  Note, this will take longer then the 
    district data, perhaps a couple minutes."""

    stats = []
    census_query_object = Census(my_api_key)
    for x in tqdm_notebook(states.STATES):
        stats = stats + census_query_object.acs5.state_county_tract(
            tuple(variables_list), x.fips, Census.ALL, Census.ALL)
    df = pd.DataFrame(stats)
    df['State Name'] = df['state'].apply(lambda x: states.STATES_AND_TERRITORIES[int(x)-1].abbr)

    if names and type(names)==list:
        for i in range( min(len(names), df.shape[1]) ):
            if names[i]!="default" and names[i]!='':
                df.columns[i]=names[i]

#     df.to_csv(file_name)
    clear_output()
    display(df.head())
    return df

def grab_by_districts(variables_list, names=custom_names, file_name = "district_data.csv", save=True):
    """This gathers the requested variables from the 5-year American Community 
    Survey at the congressional district level."""
    
    stats = []
    census_query_object = Census(my_api_key)
    for x in tqdm_notebook(states.STATES, leave=False):
        stats = stats + census_query_object.acs5.state_district(
            tuple(variables_list), x.fips , Census.ALL)
    df = pd.DataFrame(stats)
    df['State Name'] = df['state'].apply(lambda x: states.STATES_AND_TERRITORIES[int(x)-1].abbr)
    
    if names and type(names)==list:
        for i in range( min(len(names), df.shape[1]) ):
            if names[i]!="default" and names[i]!='':
                df.columns[i]=names[i]

#     
    clear_output()
    display(df.head())
    return df

In [2]:
"""Run this cell to save district data."""

"""You may optionally indicate new variables and names by removing the hashmarks in front of the next two lines"""
# variables_of_interest = ('NAME', 'B19013_001E', 'B19013B_001E')
# custom_names = ('default', 'default', 'default')


grab_by_districts(variables_of_interest)

,B19013B_001E,B19013_001E,NAME,congressional district,state,State Name
0,26956.0,44824.0,"Congressional District 1 (115th Congress), Ala...",01,01,AL
1,29348.0,43173.0,"Congressional District 2 (115th Congress), Ala...",02,01,AL
2,30393.0,42953.0,"Congressional District 3 (115th Congress), Ala...",03,01,AL
3,28789.0,40267.0,"Congressional District 4 (115th Congress), Ala...",04,01,AL
4,35509.0,51830.0,"Congressional District 5 (115th Congress), Ala...",05,01,AL

,B19013B_001E,B19013_001E,NAME,congressional district,state,State Name
0,26956.0,44824.0,"Congressional District 1 (115th Congress), Ala...",01,01,AL
1,29348.0,43173.0,"Congressional District 2 (115th Congress), Ala...",02,01,AL
2,30393.0,42953.0,"Congressional District 3 (115th Congress), Ala...",03,01,AL
3,28789.0,40267.0,"Congressional District 4 (115th Congress), Ala...",04,01,AL
4,35509.0,51830.0,"Congressional District 5 (115th Congress), Ala...",05,01,AL
5,46713.0,60706.0,"Congressional District 6 (115th Congress), Ala...",06,01,AL
6,27167.0,33366.0,"Congressional District 7 (115th Congress), Ala...",07,01,AL
7,53800.0,74444.0,Congressional District (at Large) (115th Congr...,00,02,AK
8,50520.0,48583.0,"Congressional District 1 (115th Congress), Ari...",01,04,AZ
9,36736.0,48125.0,"Congressional District 2 (115th Congress), Ari...",02,04,AZ
10,44424.0,42173.0,"Congressional District 3 (115th Congress), Ari...",03,04,AZ
11,51497.0,45933.0,"Congressional District 4 (115th Congress), Ari...",04,04,AZ
12,60921.0,68292.0,"Congressional District 5 (115th Congress), Ari...",05,04,AZ
13,41136.0,64223.0,"Congressional District 6 (115th Congress), Ari...",06,04,AZ
14,29879.0,36097.0,"Congressional District 7 (115th Congress), Ari...",07,04,AZ
15,53239.0,60342.0,"Congressional District 8 (115th Congress), Ari...",08,04,AZ
16,34613.0,52245.0,"Congressional District 9 (115th Congress), Ari...",09,04,AZ
17,23858.0,38289.0,"Congressional District 1 (115th Congress), Ark...",01,05,AR
18,33192.0,48103.0,"Congressional District 2 (115th Congress), Ark...",02,05,AR
19,31311.0,46332.0,"Congressional District 3 (115th Congress), Ark...",03,05,AR
20,24815.0,37758.0,"Congressional District 4 (115th Congress), Ark...",04,05,AR
21,38370.0,46594.0,"Congressional District 1 (115th Congress), Cal...",01,06,CA
22,47315.0,65158.0,"Congressional District 2 (115th Congress), Cal...",02,06,CA
23,53797.0,57926.0,"Congressional District 3 (115th Congress), Cal...",03,06,CA
24,63086.0,69051.0,"Congressional District 4 (115th Congress), Cal...",04,06,CA
25,54059.0,67273.0,"Congressional District 5 (115th Congress), Cal...",05,06,CA
26,33804.0,49048.0,"Congressional District 6 (115th Congress), Cal...",06,06,CA
27,51375.0,66846.0,"Congressional District 7 (115th Congress), Cal...",07,06,CA
28,31772.0,47171.0,"Congressional District 8 (115th Congress), Cal...",08,06,CA
29,41047.0,57832.0,"Congressional District 9 (115th Congress), Cal...",09,06,CA
...,...,...,...,...,...,...
406,37622.0,52464.0,"Congressional District 4 (115th Congress), Vir...",04,51,TX
407,32557.0,50005.0,"Congressional District 5 (115th Congress), Vir...",05,51,TX
408,31231.0,49798.0,"Congressional District 6 (115th Congress), Vir...",06,51,TX
409,53531.0,70994.0,"Congressional District 7 (115th Congress), Vir...",07,51,TX
410,63965.0,100649.0,"Congressional District 8 (115th Congress), Vir...",08,51,TX
411,27331.0,40855.0,"Congressional District 9 (115th Congress), Vir...",09,51,TX
412,93562.0,116069.0,"Congressional District 10 (115th Congress), Vi...",10,51,TX
413,85434.0,105024.0,"Congressional District 11 (115th Congress), Vi...",11,51,TX
414,86783.0,85293.0,"Congressional District 1 (115th Congress), Was...",01,53,VT
415,53064.0,61475.0,"Congressional District 2 (115th Congress), Was...",02,53,VT
416,41335.0,56436.0,"Congressional District 3 (115th Congress), Was...",03,53,VT
417,40603.0,51434.0,"Congressional District 4 (115th Congress), Was...",04,53,VT
418,30261.0,48516.0,"Congressional District 5 (115th Congress), Was...",05,53,VT
419,39416.0,57285.0,"Congressional District 6 (115th Congress), Was...",06,53,VT
420,33345.0,75568.0,"Congressional District 7 (115th Congress), Was...",07,53,VT
421,61080.0,75953.0,"Congressional District 8 (115th Congress), Was...",08,53,VT
422,39551.0,68915.0,"Congressional District 9 (115th Congress), Was...",09,53,VT
423,54624.0,59107.0,"Congressional District 10 (115th Congress), Wa...",10,53,VT
424,27296.0,43285.0,"Congressional District 1 (115th Congress), Wes...",01,54,VI
425,39161.0,47628.0,"Congressional District 2 (115th Congress), Wes...",02,54,VI
426,25384.0,37243.0,"Congressional District 3 (115th Congress), Wes...",03,54,VI
427,28327.0,60528.0,"Congressional District 1 (115th Congress), Wis...",01,55,VA
428,29733.0,60946.0,"Congressional District 2 (115th Congress), Wis...",02,55,VA
429,30660.0,50985.0,"Congressional District 3 (115th Congress), Wis...",03,55,VA
430,27143.0,40400.0,"Congressional District 4 (115th Congress), Wis...",04,55,VA
431,39851.0,65816.0,"Congressional District 5 (115th Congress), Wis...",05,55,VA
432,30379.0,55310.0,"Congressional District 6 (115th Congress), Wis...",06,55,VA
433,40841.0,50744.0,"Congressional District 7 (115th Congress), Wis...",07,55,VA
434,26332.0,55380.0,"Congressional District 8 (115th Congress), Wis...",08,55,VA
435,44079.0,59143.0,Congressional District (at Large) (115th Congr...,00,56,WA

In [3]:
"""Run this cell to save census tract data.  Note, this will take longer then the district data, perhaps a couple minutes."""

"""You may optionally indicate new variables and names by removing the hashmarks in front of the next two lines"""
# variables_of_interest = ('NAME', 'B19013_001E', 'B19013B_001E')
# custom_names = ('default', 'default', 'default')

grab_by_tracts(variables_of_interest)

,B19013B_001E,B19013_001E,NAME,county,state,tract,State Name
0,26157.0,66000.0,"Census Tract 201, Autauga County, Alabama",001,01,020100,AL
1,30052.0,41107.0,"Census Tract 202, Autauga County, Alabama",001,01,020200,AL
2,42554.0,51250.0,"Census Tract 203, Autauga County, Alabama",001,01,020300,AL
3,39808.0,52704.0,"Census Tract 204, Autauga County, Alabama",001,01,020400,AL
4,41023.0,52463.0,"Census Tract 205, Autauga County, Alabama",001,01,020500,AL

,B19013B_001E,B19013_001E,NAME,county,state,tract,State Name
0,26157.0,66000.0,"Census Tract 201, Autauga County, Alabama",001,01,020100,AL
1,30052.0,41107.0,"Census Tract 202, Autauga County, Alabama",001,01,020200,AL
2,42554.0,51250.0,"Census Tract 203, Autauga County, Alabama",001,01,020300,AL
3,39808.0,52704.0,"Census Tract 204, Autauga County, Alabama",001,01,020400,AL
4,41023.0,52463.0,"Census Tract 205, Autauga County, Alabama",001,01,020500,AL
5,32609.0,63750.0,"Census Tract 206, Autauga County, Alabama",001,01,020600,AL
6,25600.0,45234.0,"Census Tract 207, Autauga County, Alabama",001,01,020700,AL
7,-666666666.0,74603.0,"Census Tract 208.01, Autauga County, Alabama",001,01,020801,AL
8,37772.0,61242.0,"Census Tract 208.02, Autauga County, Alabama",001,01,020802,AL
9,34470.0,44591.0,"Census Tract 209, Autauga County, Alabama",001,01,020900,AL
10,18125.0,49567.0,"Census Tract 210, Autauga County, Alabama",001,01,021000,AL
11,22716.0,40801.0,"Census Tract 211, Autauga County, Alabama",001,01,021100,AL
12,17208.0,45667.0,"Census Tract 101, Baldwin County, Alabama",003,01,010100,AL
13,-666666666.0,33333.0,"Census Tract 102, Baldwin County, Alabama",003,01,010200,AL
14,29957.0,47443.0,"Census Tract 103, Baldwin County, Alabama",003,01,010300,AL
15,-666666666.0,46696.0,"Census Tract 104, Baldwin County, Alabama",003,01,010400,AL
16,20775.0,45825.0,"Census Tract 105, Baldwin County, Alabama",003,01,010500,AL
17,25242.0,28219.0,"Census Tract 106, Baldwin County, Alabama",003,01,010600,AL
18,36909.0,74109.0,"Census Tract 107.01, Baldwin County, Alabama",003,01,010701,AL
19,63924.0,88232.0,"Census Tract 107.03, Baldwin County, Alabama",003,01,010703,AL
20,55750.0,66700.0,"Census Tract 107.04, Baldwin County, Alabama",003,01,010704,AL
21,38556.0,49383.0,"Census Tract 107.05, Baldwin County, Alabama",003,01,010705,AL
22,16550.0,53167.0,"Census Tract 108, Baldwin County, Alabama",003,01,010800,AL
23,12713.0,48402.0,"Census Tract 109.03, Baldwin County, Alabama",003,01,010903,AL
24,-666666666.0,48521.0,"Census Tract 109.04, Baldwin County, Alabama",003,01,010904,AL
25,26508.0,40174.0,"Census Tract 109.05, Baldwin County, Alabama",003,01,010905,AL
26,-666666666.0,42120.0,"Census Tract 109.06, Baldwin County, Alabama",003,01,010906,AL
27,-666666666.0,34883.0,"Census Tract 110, Baldwin County, Alabama",003,01,011000,AL
28,-666666666.0,62825.0,"Census Tract 111.01, Baldwin County, Alabama",003,01,011101,AL
29,-666666666.0,54978.0,"Census Tract 111.02, Baldwin County, Alabama",003,01,011102,AL
...,...,...,...,...,...,...,...
73026,-666666666.0,45227.0,"Census Tract 3, Sheridan County, Wyoming",033,56,000300,WA
73027,-666666666.0,49060.0,"Census Tract 4, Sheridan County, Wyoming",033,56,000400,WA
73028,-666666666.0,65182.0,"Census Tract 5, Sheridan County, Wyoming",033,56,000500,WA
73029,-666666666.0,63438.0,"Census Tract 6, Sheridan County, Wyoming",033,56,000600,WA
73030,-666666666.0,69156.0,"Census Tract 1.01, Sublette County, Wyoming",035,56,000101,WA
73031,-666666666.0,85962.0,"Census Tract 1.02, Sublette County, Wyoming",035,56,000102,WA
73032,-666666666.0,59286.0,"Census Tract 9705, Sweetwater County, Wyoming",037,56,970500,WA
73033,-666666666.0,59922.0,"Census Tract 9706.01, Sweetwater County, Wyoming",037,56,970601,WA
73034,-666666666.0,93000.0,"Census Tract 9706.02, Sweetwater County, Wyoming",037,56,970602,WA
73035,-666666666.0,70125.0,"Census Tract 9707, Sweetwater County, Wyoming",037,56,970700,WA
73036,-666666666.0,50233.0,"Census Tract 9708, Sweetwater County, Wyoming",037,56,970800,WA
73037,-666666666.0,77339.0,"Census Tract 9709.01, Sweetwater County, Wyoming",037,56,970901,WA
73038,-666666666.0,86122.0,"Census Tract 9709.02, Sweetwater County, Wyoming",037,56,970902,WA
73039,-666666666.0,63447.0,"Census Tract 9709.03, Sweetwater County, Wyoming",037,56,970903,WA
73040,-666666666.0,66250.0,"Census Tract 9710, Sweetwater County, Wyoming",037,56,971000,WA
73041,-666666666.0,52164.0,"Census Tract 9711, Sweetwater County, Wyoming",037,56,971100,WA
73042,-666666666.0,72202.0,"Census Tract 9712, Sweetwater County, Wyoming",037,56,971200,WA
73043,-666666666.0,61182.0,"Census Tract 9716, Sweetwater County, Wyoming",037,56,971600,WA
73044,-666666666.0,64154.0,"Census Tract 9676, Teton County, Wyoming",039,56,967600,WA
73045,-666666666.0,73300.0,"Census Tract 9677.01, Teton County, Wyoming",039,56,967701,WA
73046,-666666666.0,82586.0,"Census Tract 9677.02, Teton County, Wyoming",039,56,967702,WA
73047,-666666666.0,78168.0,"Census Tract 9678, Teton County, Wyoming",039,56,967800,WA
73048,-666666666.0,75444.0,"Census Tract 9752, Uinta County, Wyoming",041,56,975200,WA
73049,-666666666.0,58984.0,"Census Tract 9753, Uinta County, Wyoming",041,56,975300,WA
73050,-666666666.0,38591.0,"Census Tract 9754, Uinta County, Wyoming",041,56,975400,WA
73051,-666666666.0,51024.0,"Census Tract 2, Washakie County, Wyoming",043,56,000200,WA
73052,-666666666.0,38221.0,"Census Tract 3.01, Washakie County, Wyoming",043,56,000301,WA
73053,-666666666.0,52581.0,"Census Tract 3.02, Washakie County, Wyoming",043,56,000302,WA
73054,-666666666.0,69048.0,"Census Tract 9511, Weston County, Wyoming",045,56,951100,WA
73055,-666666666.0,46085.0,"Census Tract 9513, Weston County, Wyoming",045,56,951300,WA

In [4]:

import pandas as pd
import numpy as np

d = 'https://api.census.gov/data/'
acs1_district_url=d+'{}/acs/acs1?get={},NAME&for=congressional%20district:*&in=state:11&key={}' #2015
acs5_district_url=d+'{}/acs/acs5?get={},NAME&for=congressional%20district:*&in=state:11&key={}' #2015
sf1_district_url=d+'{}/acs/acs1?get={},NAME&for=congressional%20district:*&in=state:11&key={}' #2010
acs5_tract_url=d+'{}/acs/acs5?get={}&for=tract:000100&in=state:11%20county:001&key={}' # 2015
sf1_tract_url=d+'{}/dec/sf1?get={}&for=tract:000100&in=state:11%20county:001&key={}' #2010
sf3_tract_url=d+'{}/sf3?get={}&for=tract:000100&in=state:11%20county:001&key={}' #2000

names = ['acs1_district', 'acs5_district', 'sf1_district', 'acs5_district', 'sf1_tract', 'sf3_tract']
urls=[acs1_district_url,acs5_district_url,sf1_district_url,
      acs5_tract_url,sf1_tract_url,sf3_tract_url]
years=[2015,2015,2010,2015,2010,2000]


dfq = pd.DataFrame(np.array([names, urls, years]).T, columns=['name', 'url', 'year'])
dfq

            name                                                url  year
0  acs1_district  https://api.census.gov/data/{}/acs/acs1?get={}...  2015
1  acs5_district  https://api.census.gov/data/{}/acs/acs5?get={}...  2015
2   sf1_district  https://api.census.gov/data/{}/acs/acs1?get={}...  2010
3  acs5_district  https://api.census.gov/data/{}/acs/acs5?get={}...  2015
4      sf1_tract  https://api.census.gov/data/{}/dec/sf1?get={}&...  2010
5      sf3_tract  https://api.census.gov/data/{}/sf3?get={}&for=...  2000

In [5]:
my_api_key = "b141795955348002155a81415a728a61faab9746"

import requests
def acs_check(field):
    valids = []
    
    for row in dfq.itertuples(): # This is a deep, shameful thing for me to use iterrows
        try:
            r = requests.get(row[2].format(str(row[3]),'NAME', my_api_key)).ok
            valids.append(r)
        except:
            valids.append(None)
    return valids
            
def acs_check_proto(field):
    for url, year in zip(urls, years):
        try:
            print(url.format(year, field, my_api_key))
        except:
            print('foobar')

In [6]:
variables = ["C23002A_004E","C23002A_004M","C23002B_004E","C23002B_004M",
             "C23002C_004E","C23002C_004M","C23002D_004E","C23002D_004M",
             "C23002E_004E","C23002E_004M","C23002F_004E","C23002F_004M",
             "C23002G_004E","C23002G_004M","C23002H_004E","C23002H_004M",
             "C23002I_004E","C23002I_004M","C23002A_001E","C23002A_001M",
             "C23002B_001E","C23002B_001M","C23002C_001E","C23002C_001M",
             "C23002D_001E","C23002D_001M","C23002E_001E","C23002E_001M",
             "C23002F_001E","C23002F_001M","C23002G_001E","C23002G_001M",
             "C23002H_001E","C23002H_001M","C23002I_001E","C23002I_001M"]

In [7]:
from tqdm import tqdm_notebook
import pandas as pd
import requests

valid = []
for field in tqdm_notebook(variables[:]):
    valid.append(list(acs_check(field)))
    
pd.DataFrame(valid, columns=dfq['name'].values)

HBox(children=(IntProgress(value=0, max=36), HTML(value='')))

,acs1_district,acs5_district,sf1_district,acs5_district,sf1_tract,sf3_tract
0,True,True,True,True,True,True
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,True,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,True,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,True,True,True,True
15,True,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True
29,True,True,True,True,True,True
30,True,True,True,True,True,True
31,True,True,True,True,True,True
32,True,True,True,True,True,True
33,True,True,True,True,True,True
34,True,True,True,True,True,True
35,True,True,True,True,True,True